apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 24.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    ports:
      web:
        expose: true
      websecure:
        expose: true
      traefik:
        expose: false  # Don't expose port 9000 externally
        port: 9000
        protocol: TCP
    ingressRoute:
      dashboard:
        enabled: false  # We're using our own custom IngressRoute
    dashboard:
      enabled: true