apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base/namespaces
- ../../base/configmaps
- ../../base/apps/api
- ../../base/apps/producer
- ../../base/apps/provider
- ../../base/monitoring
- ../../base/logging
- ../../base/traefik
