apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base/namespaces
- ../../base/configmaps
- ../../base/serviceaccounts
- ../../base/logging
- ../../base/ollama
- ../../base/apps/api
- ../../base/apps/producer
- ../../base/apps/provider
- ../../base/monitoring/umami
- ollama-config.yaml
patchesStrategicMerge:
- api-patch.yaml
- producer-patch.yaml
- provider-patch.yaml

replacements:
  - source:
      kind: ConfigMap
      name: ollama-config
      fieldPath: data.OLLAMA_HOST_IP
    targets:
      - select:
          kind: Endpoints
          name: ollama-service
        fieldPaths:
          - subsets.0.addresses.0.ip
