apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base/namespaces
- ../../base/configmaps
- ../../base/serviceaccounts
- ../../base/rabbitmq
- ../../base/keda
- ../../base/logging
- ../../base/ollama
- ../../base/cert-manager
- ../../base/cert-manager-config
- ../../base/apps/api
- ../../base/apps/producer
- ../../base/apps/provider
- ../../base/apps/web-ui
- ../../base/monitoring/prometheus
- ../../base/monitoring/umami
- ollama-config.yaml
patchesStrategicMerge:
- api-patch.yaml
- producer-patch.yaml
- provider-patch.yaml
- web-ui-patch.yaml
configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
    - ASPNETCORE_ENVIRONMENT=Production

replacements:
  - source:
      kind: ConfigMap
      name: ollama-config
      fieldPath: data.OLLAMA_HOST_IP
    targets:
      - select:
          kind: Endpoints
          name: ollama-service
        fieldPaths:
          - subsets.0.addresses.0.ip
