apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base/namespaces
- ../../base/configmaps
- ../../base/apps/api
- ../../base/apps/producer
- ../../base/apps/provider
patchesStrategicMerge:
- api-patch.yaml
- producer-patch.yaml
- provider-patch.yaml
