apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      imagePullSecrets:
      - name: acr-secret
      containers:
      - name: api
        image: sportdeets.azurecr.io/sportsdataapi:latest
        imagePullPolicy: Always
        env:
          - name: CommonConfig__AzureAppConfigurationConnectionString
            valueFrom:
              secretKeyRef:
                name: azure-app-config
                key: connectionstring
        envFrom:
          - configMapRef:
              name: app-config
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: 512Mi
            cpu: "1"
          requests:
            memory: 256Mi
            cpu: "0.2"