apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-all
  namespace: default
  annotations:
    configmap.reloader.stakater.com/reload: "reload-trigger"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-all
  template:
    metadata:
      labels:
        app: api-all
    spec:
      imagePullSecrets:
      - name: acr-secret
      containers:
      - name: api-all
        image: sportdeets.azurecr.io/sportsdataapi:1347
        imagePullPolicy: Always
        command: ["dotnet"]
        args: ["SportsData.Api.dll"]
        env:
          - name: APPCONFIG_CONNSTR
            valueFrom:
              secretKeyRef:
                name: azure-app-config
                key: connectionstring
          - name: AZURE_TENANT_ID
            valueFrom:
              secretKeyRef:
                name: azure-identity
                key: AZURE_TENANT_ID
          - name: AZURE_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: azure-identity
                key: AZURE_CLIENT_ID
          - name: AZURE_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: azure-identity
                key: AZURE_CLIENT_SECRET
        envFrom:
          - configMapRef:
              name: app-config
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: logs-volume
          mountPath: /app/logs
        resources:
          limits:
            memory: 512Mi
            cpu: "1"
          requests:
            memory: 256Mi
            cpu: "0.2"
      volumes:
      - name: logs-volume
        csi:
          driver: smb.csi.k8s.io
          readOnly: false
          volumeAttributes:
            source: "//192.168.0.3/sdprod-backups/logs"
          nodePublishSecretRef:
            name: smb-creds
            namespace: default
