apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-values
  namespace: monitoring
data:
  values.yaml: |
    grafana:
      enabled: true
      adminPassword: "admin" # dev only; replace later
      service:
        type: ClusterIP
      envFromSecret: ""
      persistence:
        enabled: true
        type: pvc
        storageClassName: local-path
        size: 2Gi
      grafana.ini:
        server:
          domain: 192.168.0.112:8080
          root_url: http://192.168.0.112:8080/grafana/
          serve_from_sub_path: true
      sidecar:
        datasources:
          enabled: true
          defaultDatasourceEnabled: true
        dashboards:
          enabled: true
          defaultFolderName: "General"
          label: grafana_dashboard
          labelValue: "1"
      additionalDataSources:
        - name: Loki
          type: loki
          uid: loki
          url: http://loki.logging.svc.cluster.local:3100
          access: proxy
          isDefault: false
          editable: true
          jsonData:
            maxLines: 1000
        - name: Tempo
          type: tempo
          uid: tempo
          url: http://tempo.monitoring.svc.cluster.local:3200
          access: proxy
          isDefault: false
          editable: true
          jsonData:
            httpMethod: GET
            tracesToLogs:
              datasourceUid: loki
              tags: ['job', 'instance', 'pod', 'namespace']
            tracesToMetrics:
              datasourceUid: prometheus
            serviceMap:
              datasourceUid: prometheus
            nodeGraph:
              enabled: true

    prometheus:
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        externalUrl: http://192.168.0.112:8080/prometheus/
        routePrefix: /

    alertmanager:
      enabled: true
      service:
        type: ClusterIP
      alertmanagerSpec:
        externalUrl: http://192.168.0.112:8080/alertmanager/
        routePrefix: /

    defaultRules:
      create: true

    nameOverride: kps
