apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-values
  namespace: monitoring
data:
  values.yaml: |
    grafana:
      enabled: true
      adminPassword: "admin" # dev only; replace later
      service:
        type: ClusterIP
      envFromSecret: ""
      persistence:
        enabled: true
        type: pvc
        storageClassName: local-path
        size: 2Gi
      defaultDashboardsEnabled: true
      defaultDashboardsTimezone: utc
      grafana.ini:
        server:
          domain: admin.sportdeets.com
          root_url: https://admin.sportdeets.com/grafana
          serve_from_sub_path: true
          enforce_domain: false
          enable_gzip: true
          protocol: http
          router_logging: true
        security:
          allow_embedding: true
          cookie_secure: false
          cookie_samesite: lax
          disable_gravatar: true
          csrf_enabled: false
          disable_initial_admin_creation: false
          admin_user: admin
          allowed_origins: https://admin.sportdeets.com
        cors:
          allow_credentials: true
          allowed_origins: "*"
        dataproxy:
          logging: true
          timeout: 300
        auth.proxy:
          enabled: false
        auth.anonymous:
          enabled: false
        auth:
          disable_login_form: false
          disable_signout_menu: false
          oauth_skip_org_role_update_sync: false
          oauth_allow_insecure_email_lookup: true
        users:
          allow_sign_up: false
      env:
        GF_SERVER_ENABLE_GZIP: "true"
        GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION: "false"
        GF_SERVER_ROOT_URL: "https://admin.sportdeets.com/grafana"
        GF_SERVER_DOMAIN: "admin.sportdeets.com"
        GF_SERVER_SERVE_FROM_SUB_PATH: "true"
        GF_SECURITY_ADMIN_PASSWORD: "admin"
        GF_SECURITY_ADMIN_USER: "admin"
        GF_AUTH_DISABLE_LOGIN_FORM: "false"
      sidecar:
        datasources:
          enabled: true
          defaultDatasourceEnabled: true
        dashboards:
          enabled: true
          defaultFolderName: "General"
          label: grafana_dashboard
          labelValue: "1"
      additionalDataSources:
        - name: Loki
          type: loki
          uid: loki
          url: http://loki.logging.svc.cluster.local:3100
          access: proxy
          isDefault: false
          editable: true
          jsonData:
            maxLines: 1000
        - name: Tempo
          type: tempo
          uid: tempo
          url: http://tempo.monitoring.svc.cluster.local:3200
          access: proxy
          isDefault: false
          editable: true
          jsonData:
            httpMethod: GET
            tracesToLogs:
              datasourceUid: loki
              tags: ['job', 'instance', 'pod', 'namespace']
            tracesToMetrics:
              datasourceUid: prometheus
            serviceMap:
              datasourceUid: prometheus
            nodeGraph:
              enabled: true

    prometheus:
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        externalUrl: http://192.168.0.112:8080/prometheus/
        routePrefix: /

    alertmanager:
      enabled: true
      service:
        type: ClusterIP
      alertmanagerSpec:
        externalUrl: http://192.168.0.112:8080/alertmanager/
        routePrefix: /

    defaultRules:
      create: true

    nameOverride: kps
