---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/grafana`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-grafana
          port: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/prometheus`)
      kind: Rule
      middlewares:
        - name: prometheus-stripprefix
      services:
        - name: kube-prometheus-stack-kps-prometheus
          port: 9090
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: prometheus-stripprefix
  namespace: monitoring
spec:
  stripPrefix:
    prefixes:
      - /prometheus
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/alertmanager`)
      kind: Rule
      middlewares:
        - name: alertmanager-stripprefix
      services:
        - name: kube-prometheus-stack-kps-alertmanager
          port: 9093
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: alertmanager-stripprefix
  namespace: monitoring
spec:
  stripPrefix:
    prefixes:
      - /alertmanager
